<div class="outer-container">
  <div class="main-container">
    <div class="create-account-container">
      <div class="header-container">
        <h1 class="header-primary">Don't have an account?</h1>
        <h2 class="header-secondary">Then it's time to create one!</h2>
      </div>
      <form [formGroup]="createAccountForm" class="create-account-form" (ngSubmit)="createUser(createAccountForm.value)">
        <div class="input-container" *ngIf="!hasSubmittedForm || createAccountForm.get('email').valid">
          <label>Email</label>
          <input class="email-input" type="email" name="email" autocomplete="username" formControlName="email"/>
        </div>
        <div class="input-container" *ngIf="hasSubmittedForm && createAccountForm.get('email').invalid">
          <label class="error-label">Email<span class="error-message"> - {{emailErrorMessage}}</span></label>
          <input class="email-input error-input" type="email" name="email" autocomplete="username" formControlName="email"/>
        </div>
        <div class="input-container" *ngIf="!hasSubmittedForm || createAccountForm.get('username').valid">
          <label>Username</label>
          <input class="username-input" formControlName="username"/>
        </div>
        <div class="input-container" *ngIf="hasSubmittedForm && createAccountForm.get('password').invalid">
          <label class="error-label">Username<span class="error-message"> - {{usernameErrorMessage}}</span></label>
          <input class="username-input error-input" formControlName="username"/>
        </div>
        <div class="input-container" *ngIf="!hasSubmittedForm || createAccountForm.get('password').valid">
          <label>Password</label>
          <input class="password-input" type="password" autocomplete="current-password" formControlName="password"/>
        </div>
        <div class="input-container" *ngIf="hasSubmittedForm && createAccountForm.get('password').invalid">
          <label class="error-label">Password<span class="error-message"> - {{passwordErrorMessage}}</span></label>
          <input class="password-input error-input" type="password" autocomplete="current-password" formControlName="password"/>
        </div>
        <button type="submit" class="create-account-button">Continue</button>
        <span class="login">Already have an account? <a routerLink="/login">Login</a></span>
      </form>
    </div>
    <div class="triangle-pin"></div>
  </div>
</div>

