$color-primary: #E2005C;
$color-accent: #522A84;
$color-dark: #18181b;
$color-deep-dark: #121215;
$color-contrast-dark: #333336;
$color-white: #fff;
$color-light-grey: #72767d;
$color-error: #ff0033;

h1 {
  color: $color-white;
  font-size: 26px;
  font-weight: 100;
}

h2 {
  color: $color-light-grey;
  font-size: 18px;
}

label {
  color: $color-light-grey;
  text-transform: uppercase;
  font-size: 12px;
	line-height: 20px;
  letter-spacing: 0.5px;
  margin-left: 4px;
  margin-bottom: 2px;
}

input {
	background-color: $color-deep-dark;
  font-size: 14px;
  border-radius: 3px;
  text-indent: 12px;
  border: solid 1px $color-contrast-dark;
  box-sizing: border-box;
  transition: border 0.2s;
}

input:focus {
  border: solid 1px $color-primary;
}

a{
  cursor: pointer;
  color: $color-primary;
  font-size: 14px;
}

a:hover{
  text-decoration: underline;
}

span{
  color: $color-light-grey;
  font-size: 14px;
}

.outer-container {
  width: 450px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.main-container {
  width: 450px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  animation: show-bubble 0.75s;
  filter: none;
}

@keyframes show-bubble {
  0% {
    width: 0;
    height: 0;
  }
}

.create-account-container {
  width: 100%;
  height: 85%;
  background: $color-dark;
  border: 2px solid $color-dark;
  border-radius: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: show-element 0.75s;
}

@keyframes show-element {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}

.header-primary {
  margin-bottom: 6px;
}

.header-secondary {
  margin-top: 6px;
}

.create-account-form {
  height: 70%;
  width: 85%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
  animation: show-element 0.75s;
}

.error-label {
  color: $color-error;
}

.error-message {
  color: $color-error;
  text-transform: lowercase;
  font-style: italic;
  font-weight: 100;
}

.input-container {
  width: 100%;
}

.email-input {
  width: 100%;
  height: 42px;
  margin-bottom: 16px;
}

.username-input {
  width: 100%;
  height: 42px;
  margin-bottom: 16px;
}

.password-input {
  width: 100%;
  height: 42px;
  margin-bottom: 10px;
}

.error-input {
  border: solid 1px $color-error;
}

.create-account-button {
  cursor: pointer;
  color: $color-white;
  background: linear-gradient(0deg, $color-primary 0%, $color-accent 150%);
  width: 100%;
  height: 42px;
  margin-top: 30px;
  margin-bottom: 10px;
	border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  outline:0;
}
.create-account-button:hover {
  background-color: $color-primary;
}

.login {
  margin-left: 4px;
}

.triangle-pin {
  margin-left: 20%;
  width: 27.5%;
  height: 15%;
  background: $color-dark;
  clip-path: polygon(0 100%, 0 -1%, 100% -1%);
  -webkit-clip-path: polygon(0 100%, 0 -1%, 100% -1%);
}

@media (min-width: 480px) {
  .main-container {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6));
  }
}
