<div class="outer_container">
  <div class="main-container">
    <div class="login-container">
      <div class="header-container">
        <h1 class="header-primary">Ready to chat?</h1>
        <h2 class="header-secondary">Proceed to login to your account!</h2>
      </div>
      <div *ngIf="hasSubmittedForm">
        <div style="color: #f21616;" *ngIf="loginForm.get('email').hasError('required')">
          *First name is required
        </div>
        <div style="color: #f21616;" *ngIf="loginForm.get('email').hasError('email')">
          *Not a correctly formed email address.
        </div>
      </div>
      <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login(loginForm.value)">
        <div style="width: 100%;" *ngIf="hasSubmittedForm && loginForm.get('email').invalid">
          <input style="border: solid 1px #f21616; " class="email-input" type="email" name="email" autocomplete="username" placeholder="Email" formControlName="email"/>
        </div>
        <div style="width: 100%;" *ngIf="!hasSubmittedForm || loginForm.get('email').valid">
          <input class="email-input" type="email" name="email" autocomplete="username" placeholder="Email" formControlName="email"/>
        </div>
        <input class="password-input" type="password" autocomplete="current-password" placeholder="Password" formControlName="password"/>
        <a class="forgot-password" routerLink="/forgot-password">Forgot your password?</a>
        <button type="submit" class="login-button">Login</button>
        <span class="create-account">New here? <a routerLink="/create-account">Create account</a></span>
      </form>
    </div>
    <div class="triangle-pin"></div>
  </div>
</div>
