<div class="main-container">
  <div class="login-container">
    <form autocomplete="on">
      <h1 class="login-primary-header">Ready to chat?</h1>
      <h2 class="login-secondary-header">Proceed to login to your account!</h2>
      <label>Email</label>
      <input type="email" name="email" autocomplete="username" placeholder="Email" formControlName="email"/>
      <label>Password</label>
      <input type="password" autocomplete="current-password" placeholder="Password" formControlName="password"/>
      <a>Forgot your password?</a>
      <button type="submit" class="login-button">Login</button>
      <span>New here? <a routerLink="/register">Create account</a></span>
      <p style="color: red;"></p>
    </form>
  </div>

  <div class="triangle-pin">
  </div>
</div>
