$color-primary: #367996;
$color-accent: #F78E8B;
$color-background-dark: #18181b;
$color-primary-dark: #121215;
$color-contrast-dark: #333333;
$color-text-light: #fff;
$color-text-dark: #72767d;

h1 {
  color: $color-text-light;
  font-size: 26px;
  font-weight: 100;
}

h2 {
  color: $color-text-dark;
  font-size: 18px;
}

input {
	background-color: $color-primary-dark;
  font-size: 14px;
  border-radius: 3px;
  text-indent: 12px;
  border: solid 1px $color-contrast-dark;
  box-sizing: border-box;
  transition: border 0.2s;
}

input:focus {
  border: solid 1px $color-primary;
}

a{
  cursor: pointer;
  color: $color-primary;
  font-size: 14px;
}

a:hover{
  text-decoration: underline;
}

span{
  color: $color-text-dark;
  font-size: 14px;
}

.main-container {
  width: 450px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.login-container {
  width: 100%;
  height: 85%;
  background: $color-background-dark;
  border: 2px solid $color-background-dark;
  border-radius: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container {
  margin-top: 10px;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-primary {
  margin-bottom: 6px;
}

.header-secondary {
  margin-top: 6px;
}

.login-form {
  height: 60%;
  width: 85%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

.email-input {
  width: 100%;
  height: 42px;
  margin-top: 20px;
}

.login-button {
  cursor: pointer;
  color: $color-text-light;
  background-color: $color-primary;
  width: 100%;
  height: 42px;
  margin-top: 26px;
  margin-bottom: 10px;
	border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  outline:0;
}
.login-button:hover {
  background-color: $color-primary;
}

.triangle-pin {
  margin-left: 20%;
  width: 27.5%;
  height: 15%;
  background: $color-background-dark;
  clip-path: polygon(0 100%, 0 -1%, 100% -1%);
  -webkit-clip-path: polygon(0 100%, 0 -1%, 100% -1%);
}
