<div class="outer-container">
  <div class="main-container">
    <div class="forgot-password-container">
      <div class="header-container">
        <h1 class="header-primary">Forgot your password?</h1>
        <h2 class="header-secondary">No worries, we can help you!</h2>
      </div>
      <form [formGroup]="forgotPasswordForm" class="forgot-password-form" (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
        <input class="email-input" placeholder="Email" type="email" autocomplete="username" formControlName="email"/>
        <button type="submit" class="forgot-password-button">Confirm</button>
        <span class="login">Remember your password? <a routerLink="/login">Login</a></span>
      </form>
    </div>
    <div class="triangle-pin"></div>
  </div>
</div>
