<div class="outer-container">
  <div class="main-container">
    <div class="login-container">
      <div class="header-container">
        <h1 class="header-primary">Forgot your password?</h1>
        <h2 class="header-secondary">No worries, we can help you!</h2>
      </div>
      <form class="login-form" >
        <input class="email-input" placeholder="Email" formControlName="email"/>
        <button type="submit" class="login-button">Confirm</button>
        <span>Remember your password? <a routerLink="/login">Login</a></span>
      </form>
    </div>
    <div class="triangle-pin"></div>
  </div>
</div>
