<div class="main-container">
  <form [formGroup]="searchForm" class="search-container" (ngSubmit)="searchUser()">
    <i class="las la-search" (click)="searchUser()"></i>
    <input class="search-input" placeholder="Search people" formControlName="username">
  </form>
  <div class="users-container">
    <h2 class="user-header">People</h2>
    <ul class="user-list" appScrollable (scrollPosition)="scrollHandler($event)" *ngIf="( users | async)?.length > 0">
      <li *ngFor="let user of users | async" (click)="onSelect(user)">
        <span>
          <div class="user-selection" [ngClass]="user === selectedUser ? 'user-selection-active' : ''">
            <div class="user-selection-inner">
              <div class="user-selection-left-part">
                <img class="profile-picture" src="https://i.imgur.com/lCvzw5H.png">
              </div>
              <div class="user-selection-right-part">
                <p class="username">{{user.username}}</p>
                <p class="address">Address 84 st</p>
              </div>
            </div>
          </div>
        </span>
      </li>
    </ul>
    <div class="sk-folding-cube" >
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
  </div>
</div>

