$color-primary: #E2005C;
$color-accent: #522A84;
$color-dark: #18181b;
$color-deep-dark: #121215;
$color-contrast-dark: #333336;
$color-white: #fff;
$color-light-grey: #81858b;

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0px 15px 15px 0px;
  align-items: center;
  justify-content: space-between;
  background-color: $color-dark;
  border-radius: 15px 15px 15px 15px;
}

.search-container {
  width: 90%;
  height: 10%;
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.la-search {
  top: 24px;
  left: 8px;
  width: 14px;
}

.search-input {
  background-color: $color-deep-dark;
  font-size: 16px;
  border-radius: 15px;
  text-indent: 30px;
  border: solid 1px $color-contrast-dark;
  box-sizing: border-box;
  transition: border 0.2s;
  height: 42px;
  width: 100%;
}

.search-input:focus {
  border: solid 1px $color-primary;
}

.users-container {
  width: 95%;
  height: 85%;
  padding-top: 3%;
}

.users-inner-container {
  width: 90%;
  height: 100%;
}

.user-header {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 10px;
  padding-left: 2%;
  color: $color-light-grey;
}

.user-list {
  height:calc(100% - 26px);
  width:100%;
  padding-right: 4px;
  overflow: hidden;
}
.user-list:hover {
  overflow-y:scroll;
}
.user-list::-webkit-scrollbar {
  width: 5px;
  border-radius: 15pt;
}
.user-list::-webkit-scrollbar-thumb {
  background-color: $color-contrast-dark;
}

.user-selection {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 50%;
  margin-bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.user-selection:hover {
  background-color: $color-deep-dark;
}
.user-selection-active {
  background-color: $color-deep-dark;
}

.user-selection-inner {
  width: 100%;
  height: 100%;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: flex-start;
}

.user-selection-left-part {
  padding-right: 5px;
}
.user-selection-right-part {
  padding-left: 5px;
}

.user-list .profile-picture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.user-list .username {
  color: $color-primary;
}

.user-list .address{
  font-size: 14px;
  color: $color-white;
}

