//GENERAL
.background {
  position: fixed;
  width: 1920px;
  height: 1080px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.background-image{
  width: 100%;
  height: 100%;
}

.hito-logo {
  position: fixed;
  top: 24px;
  left: calc(50% - 130px/2);
  width: 130px;
  height: 36px;
  background: url(https://i.imgur.com/FaKrsHJ.png) no-repeat;
}

.main-container {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 200px;
}

.router-container {
  width: 450px;
  height: 500px;
}

//MEDIA
@media (min-width:830px) {
  .hito-logo {
    position: fixed;
    top: 24px;
    left: 24px;
  }
}
