<div class="main-container" *ngIf="chatConversation" >
  <div class="topbar-container">
    <div class="profile-container">
      <img class="profile-picture" src="assets/images/default-user-profile.png">
      <h2 class="profile-name">{{chatConversation.name}}</h2>
    </div>
    <div class="options-container">
      <i class="las la-ellipsis-h"></i>
    </div>
  </div>
  <div class="chat-container">
    <ul class="chat-list" >
      <li *ngFor="let message of chatConversation.messages; let i = index" >
        <div class="full-message-container" *ngIf="!shouldPostQuickMessage(i, message)">
          <div class="message-profile-container">
            <img class ="message-profile" src="assets/images/default-user-profile.png">
          </div>
          <div class="message-data-container">
            <div class="message-header-container">
              <span class="username">{{message.username}}</span>
              <span class="post-time">{{convertMessagePostTime(message.postTime)}}</span>
            </div>
            <div>
              <p>{{message.text}}</p>
            </div>
          </div>
        </div>
        <div class="quick-message-container" *ngIf="shouldPostQuickMessage(i, message)">
          <p>{{message.text}}</p>
        </div>
      </li>
    </ul>
  </div>
  <form class="input-message-container" [formGroup]="messageForm" (ngSubmit)="sendMessage(messageForm.value)">
    <input class="input-message" placeholder="Send message" formControlName="text">
      <i class="las la-paper-plane" (click)="sendMessage(messageForm.value)"></i>
  </form>
</div>
