$color-background-dark: #18181b;

.background-image {
  background-size: 1920px 1080px;
  position: fixed;
  width: 1920px;
  height: 1080px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.logo {
  position: fixed;
  width: 90px;
  height: 36px;
  left: calc(50% - 90px/2);
  top: 24px;
}

.main-container {
  position: fixed;
  width: 100vw;
  min-height: calc(100vh - 100px);
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media(min-width: 480px) {
  .background-image {
    background-image: url("../../../assets/images/background.png");
  }

}

@media (min-width:850px) {
  .logo {
    left: 24px;
  }

  .main-container {
    align-items: flex-start;
    padding-left: 200px;
  }
}
