<div class="main-container">
  <form class="search-container"[formGroup]="searchForm" (ngSubmit)="searchChatListItems()">
    <i class="las la-search" (click)="searchChatListItems()"></i>
    <input class="search-input" placeholder="Search people" formControlName="name">
  </form>
  <div class="chat-list-items-container">
    <h2 class="chat-list-items-header">People</h2>
    <ul class="chat-list-items-list" appScrollable (scrollPosition)="scrollHandler($event)" *ngIf="( chatListItems | async)?.length > 0">
      <li *ngFor="let chatListItem of chatListItems | async" (click)="onSelect(chatListItem)">
        <span>
          <div class="chat-list-item-selection" [ngClass]="chatListItem === selectedChatListItem ? 'chat-list-item-selection-active' : '' ">
            <div class="chat-list-item-selection-inner">
              <div class="chat-list-item-selection-left-part">
                <img class="chat-list-item-picture" src="https://i.imgur.com/lCvzw5H.png">
              </div>
              <div class="chat-list-item-selection-right-part">
                <p class="chat-list-item-name">{{chatListItem.displayName}}</p>
              </div>
            </div>
          </div>
        </span>
      </li>
    </ul>
    <div class="loading-container" *ngIf="( chatListItems | async)?.length <= 0">
      <app-loading></app-loading>
    </div>
  </div>
</div>

