<div class="container">
  <div class="form-container">
    <form autocomplete="on">
      <h1>Ready to chat?</h1>
      <input type="email" name="email" placeholder="Email" autocomplete="username" formControlName="email"/>
      <input type="password" autocomplete="current-password" placeholder="Password" formControlName="password"/>
      <a>Forgot your password?</a>
      <button type="submit" class="login-button">Login</button>
      <span>New here? <a routerLink="/register">Create account</a></span>
      <p style="color: red;"></p>
    </form>
  </div>
</div>
<div class="arrow-down"></div>
