<div class="main-container">
  <div class="profile-container" (click)="logout()">
    <img class="profile-picture" src="https://i.imgur.com/lCvzw5H.png">
  </div>
  <div class="actions-container">
    <i class="las la-users"
       (click)="onActionClick(GROUP_CHAT_ACTION)"
       [ngClass]="activeAction === GROUP_CHAT_ACTION ? 'action-active' : ''"></i>
    <div [ngClass]="activeAction === LOCAL_CHAT_ACTION ? 'action-animated-container' : ''">
      <i class="las la-map-pin"
         (click)="onActionClick(LOCAL_CHAT_ACTION)"
         [ngClass]="activeAction === LOCAL_CHAT_ACTION ? 'action-active-animated' : ''"></i>
    </div>
    <i class="las la-history"
       (click)="onActionClick(HISTORY_ACTION)"
       [ngClass]="activeAction === HISTORY_ACTION ? 'action-active' : ''" ></i>
  </div>
  <div class="logo-container">
    <img class="logo" src="assets/images/logo-name.png">
  </div>
</div>
