$color-primary: #E2005C;
$color-accent: #522A84;
$color-dark: #18181b;
$color-deep-dark: #121215;
$color-contrast-dark: #333336;
$color-white: #fff;
$color-light-grey: #81858b;
$color-error: #ff0033;

.main-container {
  width: 100%;
  height: 375px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $color-dark;
  border-radius: 15px 15px 0px 0px;
}

.profile-container {
  display: none;
}

.actions-container {
  height: 100%;
  width: 100%;
  margin-right: 15%;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.las {
  color: #ffffff;
  transition: color 0.2s;
}

.las:hover {
  cursor: pointer;
  color: #ffffffaa;
}

.la-cog {
  font-size: 24px;
}

.la-power-off {
  font-size: 25px;
  color: $color-error;
}

.la-users {
  font-size: 34px;
}

.la-map-pin {
  font-size: 36px;
}

.la-history {
  font-size: 30px;
}

.action-animated-container {
  color: #E2005C;
  border-radius: 50%;
  animation: pulse-circle 0.9s infinite;
}

@keyframes pulse-circle {
  13% {
    box-shadow: none;
    border: none;
  }
  14% {
    padding: 0;
    border: 0;
    box-shadow: inset 0 0 10px #E2005C;
  }

  100% {
    padding: 12px;
    border: 1px solid #E2005C00;
    box-shadow: inset 0 0 40px #E2005C00;
  }
}

.action-active {
  color: $color-primary;
  transition: color 0.15s;
  animation: pulse 0.25s;
}

@keyframes small-pulse {
  30% {
    transform: scale(0.9);
  }
}

.action-active:hover {
  color: $color-primary;
  transition: color 0.2s;
}

.action-active-animated {
  color: $color-primary;
  transition: color 0.15s;
  animation: pulse 0.9s infinite;
}

.action-active-animated:hover {
  color: $color-primary;
  transition: color 0.2s;
}

@keyframes pulse {
  30% {
    transform: scale(0.85);
  }
}

.logo-container {
  display: none;
}

@media(min-height: 375px) {
  .main-container {
    height: 100%;
  }
}

@media(min-width: 480px) {
  .main-container {
    flex-direction: column;
    border-radius: 0px 15px 15px 0px;
  }

  .actions-container {
    width: 100%;
    height: 180px;
    flex-direction: column;
  }

  .logo-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 160px;
  }

  .logo {
    width: 32px;
    height: 20px;
    margin-bottom: 15px;
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 160px;
  }

  .profile-picture {
    width: 42px;
    height: 42px;
    margin-top: 20px;
    border-radius: 50%;
    border: solid 2px $color-deep-dark;
    transition: border 0.15s;
    z-index: 1;
  }

  .profile-picture:hover {
    cursor: pointer;
    border: solid 2px $color-contrast-dark;
  }

  .picture-popup-active:hover {
    border-color: $color-deep-dark;
  }

  .picture-cog {
    transform: scale(0.66);
    margin-top: calc(-100% + 50px);
    pointer-events: none;
    margin-left: 25px;
    z-index: 1;
    transition: transform 0.3s;
  }

  .picture-cog-popup {
    transform: scale(1) translate(-13px, 32px) rotate(-180deg);
    visibility: hidden;
    animation: hide 0.3s;
  }

  .profile-popup {
    position: fixed;
    height: 0px;
    width: 46px;
    margin-top: 42px;
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0px 0px 40px 40px;
    background: $color-deep-dark;
    transition: height 0.3s;
  }

  .profile-popup-shown {
    height: 100px;
  }

  .popup-cog {
    visibility: hidden;
    margin-top: 9px;
  }

  .popup-cog-shown {
    visibility: visible;
    animation: show 0.3s;
    transition: transform 0.2s, color 0.2s;
  }

  .logout-shown {
    visibility: visible;
    transition: color 0.2s;
  }

  .logout-shown:hover {
    color: #ff0033aa;
  }

  //.logout-shown: active

  .logout-hidden {
    visibility: hidden;
  }

  @keyframes show {
    0% {
      visibility: hidden;
    }
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

  @keyframes hide {
    0% {
      visibility: visible;
    }
    99% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
  }
}
